canvas {
  display: block;
  margin: auto;
  border-radius: 10px;
}

.title {
  display: block;
  width: 420px;
  float: left;
  color: white;
  background: #423C40;
  font-size: 36px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Fredoka One';
  margin: 0;
}

footer {
  display: block;
  box-sizing: border-box;
  width: 420px;
  float: left;
  color: white;
  background: #423C40;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Fredoka One';
  padding: 10px 0 10px 0;
  margin-top: 5px;
}


.game-container {
  padding-top: 20px;
  display: block;
  width: 1000px;
  margin: auto;
}

.game-information {
  display: block;
  width: 500px;
}

p {
  display: block;
  box-sizing: border-box;
  float: left;
  color: white;
  background: #423C40;
  width: 420px;
  font-size: 24px;
  border-radius: 10px;
  font-family: 'Fredoka One';
  padding: 10px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.button{
  position: fixed;
  top: 0;
  left: 0;
}

button {
  font-size: 36px;
}


